* {
	margin: 0;
	padding: 0;
}

fieldset {
	max-width: 800px;
	margin: auto;
}




span {
	display: inline-block;
	border-radius: 4px;
	font-size: 12px;
	padding: 4px;
	margin: 2px;
	cursor: pointer;
}
